streamlit>=1.26.0
pandas
openpyxl             # Required for reading Excel files
xlsxwriter           # CRITICAL FIX: Required by Pandas for writing Excel files using this engine
fugashi
lexicalrichness
unidic-lite
